<div id="count"><span id="num">{{num}}</span> of <span id="total">{{total}}</span> {{resources}} listed below</div>
<div id="{{resources}}-list" class="twelve columns">
    <dl id="{{resources}}" class="main">
        {{#entries}}
        <dt class="user {{status}}" id="{{id}}" data-key="i" data-val="{{i}}">
            {{{name}}}<br>
            {{{org}}}<br>
            <a href="mailto:{{{email}}}">{{{email}}}</a>
        </dt>
        <dd class="{{visibility}}">
            {{{body}}}<br><a href="/{{resources}}?id={{id}}" class="view">go to the {{resource}}</a>
        </dd>{{/entries}}
    </dl>
</div>
