<!doctype html>

<!--
Hacked by Puneet Kishor, based on HTML Boilerplate by Paul Irish & Divya Manian.
All modifications released under a PK0 waiver by Puneet Kishor.

Jan 15, 2014

See http://html5boilerplate.com/ for the original
-->

<!--[if lt IE 7 ]> <html class="no-js ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]>	   <html class="no-js ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]>	   <html class="no-js ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
    <title>{{app.name}}: {{resource}}</title>

    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="description" content="{{app.desc}}">
    <meta name="Copyright" content="CC0 Public Domain Dedication" />
    <meta name="Author" content="Puneet Kishor" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <link rel="shortcut icon" href="/img/favicon.ico" />

    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/skeleton.css">
    <link rel="stylesheet" href="/css/styles.css">

    <!--
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.4.0/styles/default.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.5.1/katex.min.css">
    -->
    
    <script src="/js/hogan.min.js"></script>
    <script src="/js/showdown.min.js"></script>
    <script src="/js/mielho.js"></script>
    {{#dynamic-resources}}
    <script src="/js/{{.}}.js"></script>
    {{/dynamic-resources}}
    <script src="/js/templates/accounts.js"></script>
    <script src="/js/templates/bees.js"></script>
    
    <!--
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.4.0/highlight.min.js"></script>
    <script type="text/x-mathjax-config">
      MathJax.Hub.Config({tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}});
    </script>
    <script type="text/javascript" async
        src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS_CHTML">
    </script>
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.5.1/katex.min.js"></script>
    <script lang="javascript" src="/js/xlsx.core.min.js"></script>
    -->
</head>

<body class="container">
    <header>
        <div class="row">
            <nav class="twelve columns">
                <a href="/about" class="mielho">about</a>
                <a href="/legalese" class="mielho">legalese</a>
                <a href="/api" class="mielho">api</a>
                <a href="/login" class="mielho">login</a>
                <br>
                {{#dynamic-resources}}
                <a href="/{{.}}" class="mielho">{{.}}</a>
                {{/dynamic-resources}}
            </nav>
        </div>

        <h2>
            <a href="/" class="mielho">{{app.name}}</a>
            <br>
            <span id="byline">{{app.desc}}
        </h2>
    </header>

    <!-- <section id="bees-section" class="off"></section>
    <section id="accounts-section" class="off"></section> -->
    <section>{{> content}}</section>

    <footer>
        <p class="row" xmlns:dct="http://purl.org/dc/terms/" xmlns:vcard="http://www.w3.org/2001/vcard-rdf/3.0#">To the extent possible under law, <a rel="dct:publisher" href="http://punkish.org"><span property="dct:title">Puneet Kishor</span></a> has waived all copyright and related or neighboring rights to <span property="dct:title"><b>{{app.name}}</b></span> via the <a rel="license" href="http://creativecommons.org/publicdomain/zero/1.0/">CC0 Public Domain Dedication</a>. This work is published from <span property="vcard:Country" datatype="dct:ISO3166" content="US" about="{{app.url}}">The United States</span>.</p>
    </footer>

    <script type="text/javascript">
        window.onload = function() {

            window.setTimeout(function() {

               // Revert to a previously saved state
            //    window.addEventListener("popstate", function(event) {
            //        PK.getResource();
            //    }, false);
           }, 1);

            // http://diveintohtml5.info/examples/history/gallery.js
            //if (!PK.supports_history_api()) { return; }

            // PK.activateSearch();
            //main.activateLinks(".mielho");
            // PK.getResource();
            // lessons.callFunctionInMainFromLessons();
            // main.callFunctionInLessonsFromMain();
            
            {{#init}}
            {{resource}}.init();
            {{/init}}
            
            // http://stackoverflow.com/questions/10936854/highlight-syntax-in-pre-tags-with-highlight-js
            var allPre = mielho.$("pre");
            if (typeof(allPre) !== 'undefined' && allPre != null) {
                for (var i=0, j=allPre.length; i<j; i++) {
                    hljs.highlightBlock(allPre[i]);
                }
            }
            //hljs.initHighlightingOnLoad();
            


       } // end: window.onload
    </script>
</body>
</html>
