<form id="search-form" class="row">
    <div class="row">
        <div class="twelve columns">
            <input class="u-full-width" id="q" type="text">
            <label for="q">search</label>
        </div>
    </div>
</form>

<div id="count"><span id="num">{{num}}</span> of <span id="total">{{total}}</span> bees listed below</div>
<div id="bees-list" class="twelve columns">
    <dl id="bees" class="main">
        {{#bees}}
        <dt class="entry {{status}}" id="{{id}}" data-key="i" data-val="{{i}}">
            {{{name}}}<br>
            {{{org}}}<br>
            <a href="mailto:{{{email}}}">{{{email}}}</a>
        </dt>
        <dd class="{{visibility}}">
            {{{body}}}<br><a href="/honies?user={{id}}" class="mielho">see all contributions of this bee</a>
        </dd>{{/bees}}
    </dl>
</div>
