<form id="search-form" class="row">
    <div class="row">
        <div class="twelve columns">
            <input class="u-full-width" id="q" type="text">
            <label for="q">search</label>
        </div>
    </div>
</form>

<div class="row">
    <div id="tags" class="twelve columns">
        <ul>
            {{#tags}}
            <li>
                <div class="mtag">
                    x
                    <a href="#" onclick="honies.addRemoveTag('{{val}}', 'remove'); event.stopPropagation(); return false;">{{dsp}}</a>
                </div>
            </li>{{/tags}}
        </ul>
    </div>
</div>

<div id="count"><span id="num">{{num}}</span> of <span id="total">{{total}}</span> honies listed below</div>
<div id="honies-list" class="twelve columns">
    <dl id="honies" class="main">
        {{#honies}}
        <dt class="entry {{status}}" id="{{id}}" data-key="i" data-val="{{i}}">
            {{{title}}}
            <span id="{{id}}_votes"><a class="star" href="#vote_{{num_of_stars}}_stars_for_{{id}}" onclick="honies.castVote({{num_of_stars}},"{{id}}"); event.stopPropagation();">{{star}}</a></span>
            <ul class="tags">
                {{#tags}}
                <li class={{cls}}>
                    <a href="/honies?tags={{val}}" onclick="honies.addRemoveTag('{{val}}', 'add'); event.stopPropagation(); return false;">{{dsp}}</a>
                </li>{{/tags}}
            </ul>
        </dt>
        <dd class="{{visibility}}">
            user: <a href="/honies?user={{{user}}}" class="mielho">{{{user}}}</a><br>
            {{{body}}}<br>
            <a href="/honies?id={{id}}" class="mielho">go to the resource</a>
        </dd>{{/honies}}
    </dl>
</div>
