{{#honies}}
    <div class="resource row">
        <div class="twelve columns" id="{{id}}">
            <h2>{{{title}}}</h2> <span id="{{id}}_votes"><a class="star" href="#vote_{{num_of_stars}}_stars_for_{{id}}" onclick="main.castVote({{num_of_stars}},"{{id}}"); event.stopPropagation();">{{star}}</a></span>
            
            <ul class="tags">
                {{#tags}}<li>{{dsp}}</li>{{/tags}}
            </ul>
            <br clear="both">
            <b>user:</b> <a href="/users?id={{{user}}}" class="mielho">{{{user}}}</a><br>
            {{{body}}}<br>
        </div>    
    </div>
    
    {{#pot}}
    <div class="bundle row">
        <div class="main twelve columns">
            <input id="tab1" type="radio" name="tabs" class="bundle_tab" checked>
            <label for="tab1">Pollen</label>
            
            <input id="tab2" type="radio" name="tabs" class="bundle_tab">
            <label for="tab2">Venom</label>
            
            <input id="tab3" type="radio" name="tabs" class="bundle_tab">
            <label for="tab3">Wax</label>
            
            <div class="content">
            
                {{#pollen}}
                <div id="content1">
                    <div id="pollen" class="pollen">
                        <div class="pollen_file"><b>{{file}}</b></div>
                        <div class="pollen_content">{{{content}}}</div>
                    </div>
                </div>
                {{/pollen}}
                
                {{#venom}}
                <div id="content2">
                    <div id="venom" class="venom">
                        <div class="venom_file"><b>{{type}}:</b> {{file}}</div>
                        <div class="venom_content"><pre><code class="{{ext}}">{{{content}}}</code></pre></div>
                    </div>
                </div>
                {{/venom}}
            
                {{#wax}}
                <div id="content3">
                    <div id="wax" class="wax">
                        <div class="wax_file"><b>{{type}}:</b> {{file}}</div>
                        <div class="wax_content">{{{content}}}</div>
                    </div>
                {{/wax}}
                </div>
                
            </div>
            
        </div>
    </div>
    {{/pot}}
    
{{/honies}}